.app-container {
  display: flex;
  color: #fff;
}

.main {
  flex: 1;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .main{
    margin-left: 0px;
  }
}
