.chart {
    background-color: #2b2b40;
    padding: 20px;
    border-radius: 10px;
  }
  
  .chart-title {
    margin-bottom: 10px;
  }

  .recharts-legend-wrapper{
    display: none;
  }

  @media screen and (max-width: 600px) {
    .chart {
      padding: 15px;
      border-radius: 8px;
    }
    
    .chart-title {
      margin-bottom: 8px;
      font-size: 16px;
    }
  
  }
  