.feedback {
    background-color: #2b2b40;
    border-radius: 10px;
    max-height: 470px;
    overflow: auto;
    margin: -20px;
    padding: 20px ;
  }
  
  .horizonatl-line{
    margin: 8px 0px;
    background-color: white;
    padding:1px 0px;
  }

  .feedback-item::after{
    content: "";
    display: block;
    width: 100%;
    margin: 8px 0px;
    background-color: white;
    height:1px;
  }

  .feedback-item:last-child::after {
    content: none;
  }

  .feedback-title {
    margin-bottom: 10px;
  }
  
  .feedback-item {
    margin-bottom: 10px;
  }
  
  .customer-name {
    margin: 0;
  }
  
  .rating {
    color: gold;
  }
  
  .feedback-text {
    margin: 0;
  }
  

  @media screen and (max-width: 600px) {
    .feedback {
      border-radius: 8px;
      margin: -15px;
      padding: 15px ;
    }

    .feedback-title {
      margin-bottom: 8px;
    }
    
    .feedback-item {
      margin-bottom: 8px;
    }

    .feedback-text{
      font-size: 12px;
    }
    .customer-name{
      font-size: 14px;
    }

    .feedback-title{
      font-size: 16px;
    }
  }